<span class="spinner spinner-lg" *ngIf='fetchingData== 0'>
    Loading...
</span>
<div class="clr-row">
    <div class="clr-col-lg-6 clr-col-12">
        <div class="card">
            <div class="card-header">
                <b>SEARCH FOR AN EXISTING PATIENT</b>
            </div>
            <div class="card-block">


                <form [formGroup]="searchForm"  *ngIf='fetchingData== 1' (ngSubmit)="onSubmit()">

                    <!--
                    <span for="basic">Basic Input</span>
                    <div class="clr-input-wrapper">
                        <input type="text" id="basic" placeholder="Enter value here" class="clr-input">
                    </div>
                    -->

                    <clr-input-container>
                        <label>Enter Patient First Name</label>
                        <input clrInput formControlName="patientFirstName" />
                    </clr-input-container>
                    <clr-input-container>
                        <label>Enter Patient Last Name</label>
                        <input clrInput formControlName="patientLastName" />
                    </clr-input-container>
                    <clr-date-container>
                        <label>Date Of Birth</label>
                        <input formControlName="dobSearch" type="date" clrDate name="dob">
                        <clr-control-error *clrIfError="'required'">Date Of Birth Required</clr-control-error>
                    </clr-date-container>
                    <!--
                    <clr-select-container>
                        <label>Select the PCP</label>
                        <select clrSelect name="options" formControlName="pcpSearch">
                        <option value="">Select the PCP</option>
                        <option value="one">One</option>
                        <option value="two">Two</option>
                        <option value="three">Three</option>
                    </select>
                    </clr-select-container>
                    -->
                    <clr-select-container>
                        <label>Select the PCP</label>
                        <select formControlName="pcpSearch" clrSelect name="options">
                            <option value="">Select the PCP</option>
                            <option  *ngFor="let order of listOfClients.Clients;" [value]="order">
                                {{order}}
                              </option>
                        </select>
                    </clr-select-container>
                    <!--<app-search-results [testDataInput] = "testData | async"></app-search-results>
                    <p>{{ testData | async }}</p>-->
                    <clr-input-container>
                        <label>Enter Caller Number</label>
                        <input clrInput formControlName="phoneSearch" />
                    </clr-input-container>
                    <br>
                    <button type="submit" class="btn btn-success-outline">Search</button>
                </form>


            </div>

            <!--
            <div class="card-footer">
                <button class="btn btn-sm btn-link">Footer Action 1</button>
                <button class="btn btn-sm btn-link">Footer Action 2</button>
            </div> -->
        </div>

        
    </div>

    <app-search-results  [result]="result" *ngIf="show=='true'" class="clr-col-lg-6 clr-col-12" >


    </app-search-results>

   

</div>







<!--
<div class="main-container">
    <div class="content-area">
        <form class="clr-form" clrForm [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <div class="clr-control-container">


                <label for="basic" class="clr-control-label">Basic input</label>
                <div class="clr-input-wrapper">
                    <input type="text" id="basic" placeholder="Enter value here" class="clr-input">
                    <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="clr-subtext">Helper Text</span>
            </div>


            <clr-input-container>
                <label>Enter Name</label>
                <input clrInput formControlName="nameSearch" />
            </clr-input-container>
            <clr-input-container>
                <label>Enter Date Of Birth</label>
                <input clrInput formControlName="dobSearch" />
            </clr-input-container>

            <clr-select-container>
                <label>Select the PCP</label>
                <select clrSelect name="options" formControlName="pcpSearch">
                <option value="">Select the PCP</option>
                <option value="one">One</option>
                <option value="two">Two</option>
                <option value="three">Three</option>
            </select>
            </clr-select-container>

            <clr-input-container>
                <label>Enter Phone Number</label>
                <input clrInput formControlName="phoneSearch" />
            </clr-input-container>
            <button type="submit" class="btn btn-success-outline">Search</button>
        </form>
    </div>
</div>

-->