<div class="login-wrapper">
    <form class="login">
        <section class="title">
            <h3 class="welcome"></h3>
            Reset your password
            <h5 class="hint"> </h5>
        </section>

        
        
        <div class="login-group" *ngIf="status=='username'">
            
            <clr-input-container>
                <label >Username</label>
                <input type="text" name="username" clrInput placeholder="Username" [(ngModel)]="username"/>
            </clr-input-container>
            
            <button (click)="sendmail()" class="btn btn-primary">Generate otp</button>
            <a [routerLink]="['/login']" class="signup"> Login Now </a>

        </div>

        <div class="login-group" *ngIf="status=='otp'">
            
            <clr-input-container>
                <input type="text" name="username" clrInput placeholder="Enter the otp sent to your mail" [(ngModel)]="otp" />
            </clr-input-container>
           
            
            <button (click)="submit_otp()" class="btn btn-primary">Submit OTP</button>
            
           
        </div>

        <div class="login-group" *ngIf="status=='reset'">
            
            <clr-password-container>
                <label >Password</label>
                <input type="password" name="password" [(ngModel)]="new_password" clrPassword placeholder="Password"  />
            </clr-password-container>

            <clr-control-error style="color:red;" *ngIf="new_password!='' && new_password!=confirm_password" >password not matched</clr-control-error>

            <clr-password-container>
                <input type="password" name="password" [(ngModel)]="confirm_password" clrPassword placeholder="Confirm Password"  />
            </clr-password-container>


            <button (click)="reset()" class="btn btn-primary"> Reset Password </button>
            
            
        </div>

        <div class="login-group" *ngIf="status=='done'">
            
           <h3>Password Reset Succesful</h3>
            
            <a [routerLink]="['/login']" class="signup"> Login Now </a>

        </div>
        
       



    </form>
</div>