
<div class="content-container">
    <nav class="sidenav">
        <section class="sidenav-content">
            <a routerLink="mytable" routerLinkActive="active current" class="nav-link">
                All users
            </a>
            <a href="..." class="nav-link">
                Admins
            </a>
            <a href="..." class="nav-link">
                Users
            </a>
            
            
        </section>
        
    </nav>

    <div class="content-area">
        <router-outlet></router-outlet>
    </div>

    


</div>
