


<!--
<clr-input-container>
    <label class="clr-sr-only">Username</label>
    <input (keyup) = "myfunc()"type="text" name="username" clrInput placeholder="input" [(ngModel)]="search"/>
</clr-input-container>
<button class='btn btn-primary' (click)="myfunc()" > POKE ME </button>

-->
<clr-input-container>
<label for="search_input">
    <input id="search_input" clrInput (keydown.enter)="myfunc()" type="text" [(ngModel)]="search" placeholder="Search for keywords...">
</label>
</clr-input-container>
<p>SELECT</p>

<!--
<virtual-scroller #scroll [items]="list">
    <div *ngFor="let data of scroll.viewPortItems">
        <input type="checkbox" (change)="onChange(data, $event.target.checked)" > {{ data.codeid+" "+data.description}}<br>
    </div>
    
</virtual-scroller> -->

<br>

<p> {{ myForm.controls.useremail.value  }} </p>

<p> new sec1 </p>

<virtual-scroller *ngIf = "viewVirtualScroll == true" #scroll2 [items]="myForm1.controls.useremail.value">
    <div *ngFor="let data2 of scroll2.viewPortItems">
        <input type="checkbox" (change)="onChange2(data2, $event.target.checked)" > {{ data2 }}<br>
    </div>
    
</virtual-scroller>


<p> new sec2 </p>

<virtual-scroller *ngIf = "resultsOfVirtualScroll == true"  #scroll1 [items]="myForm.controls.useremail.value">
    <div *ngFor="let data1 of scroll1.viewPortItems">
        <input type="checkbox" (change)="onChange1(data1, $event.target.checked)" checked > {{ data1 }}<br>
    </div>
    
</virtual-scroller>



<!--
<form class="search">
    <label for="search_input">
        <input id="search_input" (keydown.enter)="myfunc()"type="text" [(ngModel)]="search" placeholder="Search for keywords...">
    </label>
</form>
-->